@charset "utf-8";
/* 후르디아 */
/* box01 */
  #box01{
    width:100%;
    height : calc(100vh - 194px);
    position: relative;
    background: url('../img/frudia.png') no-repeat right center;
    background-size: cover;
  }
  #box01>section{
    width:100%;
    background-color: rgba(206,233,255,0.5);
    height : calc(100vh - 194px);
  }
  #box01>section>h2{}
  #box01>section>h2>img{
    width:700px;
    display: block;
    position: absolute;
    top:50%; left:50%;
    margin:-120px 0 0 -350px;
  }

      /* box02 */
      #box02{}
      #box02>section{}
      #box02>section>h3{
        width:500px; height:280px;
        padding:20px;
        box-sizing: border-box;
        border: 1px solid #595959;
        margin:0 auto 40px;
      }
      #box02>section>h3>div{
        width:100%; height:100%;
        background: url('../img/logo/frudia_logo01.png') no-repeat center;
        background-size: contain;
      }
      #box02>section>dl{
        text-align: center;
      }
      #box02>section>dl>dt{
        color:#407A1D;
        font-size:27px;
        font-weight: bold;
        margin-bottom: 40px;
      }
      #box02>section>dl>dd{
        margin-bottom: 30px;
      }
      #box02>section>dl>dd>strong{
        font-weight: normal;
        background-color: #D4E8C9;
      }

  /* box03 */
  #box03{
    background-color: #FFFEF3;
    padding-bottom: 100px;
    margin-bottom:0;
  }
  #box03>section>div{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
  }
  #box03>section>div>figure{
    width:20%;
    margin:0 6.5% 0;
  }
  #box03>section>div>figure>a{}
  #box03>section>div>figure>a>img{
    box-sizing: border-box;
    border: 3px solid #dfdfdf;
  }
  #box03>section>div>figure>figcaption{
    text-align: center;
  }

      /* box05 */
      #box04{}
      #box04>section{}
      #box04>section>.button{
        width:400px;
        box-sizing: border-box;
        margin:0 auto 50px;
      }
      #box04>section>.button>a{}
      #box04>section>.button>a>button{
        width:100%;
        font-size:27px;
        color:#595959;
        line-height: 95px;
        border: 1px solid #595959;
        background-color: #ffffff;
      }
      #box04>section>.frudiaSNS{
        margin: 0 auto;
      }
      #box04>section>.frudiaSNS>p{
        text-align: center;
        margin-bottom:30px;
      }
      #box04>section>.frudiaSNS>ul{
        width:fit-content;
        margin: 0 auto;
        display: flex;
        flex-wrap:wrap;
      }
      #box04>section>.frudiaSNS>ul>li{
        margin:0 20px;
      }
      #box04>section>.frudiaSNS>ul>li>a{}
      #box04>section>.frudiaSNS>ul>li>a>img{
        width:30px;
      }