@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Joan&display=swap'); */


/* 고정 */
body{
  font-size:18px;
}
#wrap{
  font:18px/30px Arial,sans-serif;
  color:#595959;
  position:relative;
  
}
img{
  max-width: 100%;
  max-height: 100%;
}
.hide{
  width:0; height:0;
  font-size:0; line-height:0;
  position:absolute; visibility:hidden;
}

/* 공통 */
header>div,nav>div,article>div,article>section,footer>div{
  width:100%;
  margin: 0 auto;
}
#box02,#box03,#box04,#box05,#box06{
  padding-top: 100px;
  margin-bottom: 100px;
}
h3,h4{
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}
p.title{
  font-size:36px;
}

/* header */
#headerWrap{
  width:100%;
  height:194px;
  position:absolute;
  left:0; top:0px;
  background-color:rgba(255, 255, 255, 0.8);
  z-index:400;
}
header{
  width:100%;
  background-color: #A9D1B9;
  padding: 18px 0;
}
header>div{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
header>div>ul{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
header>div>ul>li{
  font-size: 16px;
  display:inline;
}
header>div>ul>li:nth-child(4){border-right-style: none;}
header>div>ul>li>a{
  color: white;
  border-right: solid 1px #ffffff;
  padding:0 15px 0;
}


/* nav */
nav{
  background-color: #F8F3EB;
  width:100%;
  position:relative;
}
nav>div{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}
li.hiddenWeb{
  display: none;
}
nav>div>h2{}
nav>div>h2>img{}
nav>div>ul{
  width:100%;
  display: flex;
  flex-wrap:wrap;
  padding: 30px 0;
  margin:0 auto;
}
nav>div>ul>li{
  width:25%;
  text-align: center;
}
nav>div>ul>li>a{
  color: #595959;
}
nav>div>ul>li>div{
  display:none; /* 숨기기 */
  position: absolute;
  top:230px; left:0;
  width:100%;
}
nav>div>ul>li>div>ul{
  width:100%; /* 1200px; */
  margin: 0 auto;
}
nav>div>ul>li>div>ul>li{
  float:left;
}
nav>div>ul>li>div>ul>li>a{
  color:#595959
}
nav>div>ul>li>div>ul>li>a>p{
  text-align: center;
}
nav>div>ul>li>div>ul>li>a>img{
  border: solid 1px #DFDFDF;
  width:197px;
}

nav .close{
  position: absolute;
  right:0; top:110px;  /* 90px+20px */
  width:25px; height:25px;
  background-color: pink;
  display: none; /* 숨기기 */
}
nav .close>span{}

/* main */
main{
  padding-top:194px;
}

/* view */
#view>section{
  width:100%;
  padding: 55px 0 156px;
    overflow: hidden;
}
#view>section>h4{
  color:#407A1D;
  margin-bottom: 63px;
}
#view>section>div{
  width:300%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
#view>section>div>figure{
  position: relative;
  width:6.578947368421053%;
}
#view>section>div>figure>img{
  border: 1px solid #dfdfdf;
  margin-bottom: 15px;
}
#view>section>div>figure>figcaption{}
#view>section>div>figure>figcaption>dl{}
#view>section>div>figure>figcaption>dl>dt{
  font-size:24px;
  margin-bottom: 30px;
}
#view>section>div>figure>figcaption>dl>dd:nth-child(2){
  margin-bottom: 20px;
}
#view>section>div>figure>figcaption>dl>dd:nth-child(3){
  color:#407A1D;
  font-size: 15px;
  position: absolute;
  bottom:0; right:0;
}





/* aside */
aside>p{
  position:fixed;
  bottom:20px; right:25px;
  z-index: 9999;
}
aside>p>a{
  width:50px; height:50px;
  background-color: #d9d9d9;
  color:#696969;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size:27px;
}

/* main */
article{
  padding-top:194px;
}
article>h2{
  font-size:36px;
  color:#6F9475;
  text-align:center;
  line-height:40px;
  padding: 150px 0;
  /* margin:0 auto; */
}
article>section{
  overflow: hidden;
}
article>section>div.top{
  width:74.66666666666667%;
  padding:17px 8px;
  box-sizing: border-box;
  border:1px solid #dfdfdf;
  float:right;
  margin-bottom:40px ;
}
article>section>div.top p{
  display: inline;
  padding:0 7px;
  border-right: 1px solid #595959;
}
article>section>div.top>select{
  padding-left:7px;
}
article>section>div.top>p:nth-child(2){
  border-style:none;
}
.right{
  float:right;
}
.right>p{
  display: inline;
}
.right>p>select{
  width:150px;
  height: 100%;
  text-align: center;
  font-size: 18px;
  color:#595959
}
.right>p:nth-child(2){
  border-style:none;
}

/* 검색*/
aside.search{
  width:21.66666666666667%;
  box-sizing: border-box;
  float:left;
  padding: 20px;
  border: 1px solid #dfdfdf;
}
aside.search>h3{
  font-weight:normal;
  text-align: left;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid #dfdfdf;
}
  /* brand checkbox */
aside.search>div.brand{
  /* background-color: yellowgreen; */
  padding:20px 0;
  border-bottom:1px solid #dfdfdf;
}
aside.search>div.brand>p{
  font-size:21px;
  margin-bottom:30px;
}
aside.search>div.brand>label{
  font-size: 16px;
  display: block;
}
aside.search>div.brand>label>input{
  vertical-align: middle;
  width:20px; height:20px;
  margin-right:8px ;
  /* color:#595959; */
}
  /* price */
.price{
  padding:20px 0;
  border-bottom:1px solid #dfdfdf;
}
.price>p{
  font-size:21px;
  margin-bottom:30px;
  display: block;
}
.price>.minPrice,.price>.maxPrice{
  width:80px; 
  padding:2px 5px;
  box-sizing: border-box;
  border:1px solid #595959;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size:16px;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 25px;
  color:#595959
}
.price>.minPrice{
 float: left;
}
.price>.maxPrice{
  float:right;
}
.price>#namePrice{
  width:100%;
  box-sizing: border-box;
}

/* nameSearch */
.nameSearch{
  padding:20px 0;
}
.nameSearch>label{
  font-size:21px;
  margin-bottom:30px;
  display: block;
}
.nameSearch>input{
  width:100%;
  padding:5px 0 0 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
  line-height: 25px;
  border-radius: 10px;
  font-size:16px;
}
.nameSearch>button{
  float: right;
  width:70px;
  line-height:30px;
  background-color: #595959;
  color:white;
  border-style:none;
  border-radius: 8px;
  font-size:18px;
  padding: 6px 0;
}


/* 제품 */

div.all{
  text-align:center;
  float: right;
  width:74.66666666666667%;
  box-sizing: border-box;
  /* background-color: violet; */
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom:solid 1px #dfdfdf;
}
div.all>div{
  /* background-color: yellowgreen; */
  width:30%;
  box-sizing: border-box;
  margin-bottom:30px;
}
div.all>div>figure{
  width:100%; 
  box-sizing: border-box;
  padding: 15px 0;
  /* background-color: tomato; */
}
div.all>div>figure>img{
  width:100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
}
.all>div>figure>figcaption>dl{
  height:155px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  /* background-color: violet; */
  padding:0 40px 0;
}
.all>div>figure>figcaption>dl>dt{
  font-weight: bolder;
  margin-bottom:20px;
}
.all>div>figure>figcaption>dl>dd:nth-child(2){
  /* margin-bottom:15px; */
}
section>p{
  /* clear: both; */
  margin:0 auto;
  width:74.66666666666667%;
  float:right;
  text-align: center;
}
  /* display: inline; */
