@charset "utf-8";

/* 신경X auto, 50%, 25%, 33.3333% */
/* 부모요소 기준 */
/* 비율:숫자/기준숫자*100  ex)268/980*100=27.~~~ */

@media screen and (min-width:1210px){
    header>div,nav>div,article>div,article>section,footer>div{
        width:1200px;
    }
    nav>div>ul>li>div>ul{
        width:1200px;
    }
    #box03>section>div{
        width:1200px;
    }
    #join{
        width:1200PX;
    }

  /*  */
}

/* @media screen and (max-width:1209px) and (min-width:990px){} */

@media screen and (max-width:989px) and (min-width:580px){
  header>div,nav>div,article>div,article>section,footer>div{
    width:90vw
  }
  /* header */
#headerWrap{
  height:104px;
}
header>div{
  display: block;
  text-align: center;
}
header>div>ul{
  display: none;
}

/* nav */
nav{
  width:350px; height:100%;
  position:fixed;
  right:-350px; 
  /* right:0; */
  top:0;
  padding:0 40px;
  box-sizing: border-box;

}
nav>div{
  display: block;
  /* background-color: yellowgreen; */
}
li.hiddenWeb{
  display: block;
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
padding: 0 ;
border-top:1px solid #dfdfdf;
position: relative;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
/* 회원정보 */
nav>div>ul>li>ul{
  text-indent: 15px;
}
nav>div>ul>li>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
/* 브랜드소개 */
nav>div>ul>li>div{
  display:block;
  position:none;
}
nav>div>ul>li>div>ul{
  text-indent: 15px;
  background-color: yellowgreen;
}
nav>div>ul>li>div>ul>li{
  clear: both;
}
nav>div>ul>li>div>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
nav>div>ul>li>div>ul>li>a>p{
  text-align: left
}
nav>div>ul>li>div>ul>li>a>img{
  display: none;
}
nav .close{
  top:20px; right:0;
}

/* main */
main{
  padding-top:104px;
}

/* 0304-1:48:00 */
/* box01 */
#box01{
  height :100vh;
}
#box01>h2{
  border: none;
  font-size:81px;
  width:100%; height:305px;
  top:50%; left:0;
  margin:-227px 0 0 0;
}
#box01>ul>li{
  background-size: auto 100%;
}

/* box02 */
#box02>section>div{
  width:100%;
}
#box02>section>div>figure{
  width:200px;
}
dd>.goCart{
  width:100%;
}
.hiddenTablet{
  display:none;
}

/* box04 */

/* 공통 */
#box04>div>div>section{
  padding:50px 25px;  
}
#box04>div>div>section>h4{
  margin-bottom:15px;
}
#box04>div>div>section>p:nth-child(3){
  margin-bottom:25px;
}

/* box05 */
#box05{}
#box05>section{
  border: 10px solid #A9D1B9;
  padding:35px 50px 0px;
  box-sizing: border-box;
}
#box05>section>h4{
  width:190px;
  border-bottom:1px solid #595959;
  margin: 0 auto 100px;
}
#box05>section>div>figure{
  /* margin-right:160px ; */
  margin-bottom:100px ;
}
#box05>section>div>figure:nth-child(3),#box05>section>div>figure:nth-child(6){
  margin-right:0
}
#box05>section>div>figure>div{
  width:200px; height:200px;
  border:solid 5px #A1A1A1;
  border-radius: 50%;
  margin-bottom: 15px;
}
#box05>section>div>figure>div.loccitaneLogo{
  background: url('../img/logo/loccitane_squarelogo.png') no-repeat center;}
#box05>section>div>figure>div.thebodyshopLogo{
  background: url('../img/logo/thebodyshop_squarelogo.png') no-repeat center;}
#box05>section>div>figure>div.kamillLogo{
  background: url('../img/logo/kamill_squarelogo.png') no-repeat center;}
#box05>section>div>figure>div.frudiaLogo{
  background: url('../img/logo/frudia_squarelogo.png') no-repeat center;}
#box05>section>div>figure>div.onhopeLogo{
  background: url('../img/logo/onhope_squarelogo.png') no-repeat center;}
#box05>section>div>figure>div.duftanddoftLogo{
  background: url('../img/logo/DAD_squarelogo.png') no-repeat center;}
#box05>section>div>figure>figcaption{
  text-align: center;
}



  /*  */
}

@media screen and (max-width:579px) and (min-width:5px){

  /*  */
}

