@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

@media screen and (min-width:1210px){
    header>div,nav>div,article>div,article>section,footer>div{
        width:1200px;
    }
    nav>div>ul>li>div>ul{
        width:1200px;
    }
    #box03>section>div{
        width:1200px;
    }

  /*  */
}

/* 타블렛 */
@media screen and (max-width:989px) and (min-width:580px){
  header>div,nav>div,article>div,article>section,footer>div{
    width:90vw
  }
  /* header */
  header{
    position:relative;
  }
#headerWrap{
  height:0px;
}
header>div{
  display: block;
  text-align: center;
}
header>div>ul{
  display: none;
}
p.btn{
  width:30px; height:30px;
  position:absolute;
  top:50%; right:20px;
  margin-top:-15px;
}
p.btn>span{ /* 공통 */
  width:100%;
  height:3px;
  background-color: white;
  position:absolute;
}
p.btn>span:nth-child(1){
  top:0; left:0;
}
p.btn>span:nth-child(2){
  top:50%; left:0;
  margin-top: -1.5px;
}
p.btn>span:nth-child(3){
  bottom:0; left:0;
}

/* nav */
nav{
  width:350px; height:100%;
  position:fixed;
  right:-350px;  /* 숨기기 */
  /* right:0; */
  top:0;
  padding:0 40px;
  box-sizing: border-box;

}
nav>div{
  display: block;
}
li.hiddenWeb{
  display: block;
}
.hiddenTablet{
  display:none
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
  padding: 0 ;
  border-top:1px solid #dfdfdf;
  position: relative;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
nav .close{
  position: absolute;
  right:0; top:0;  /* 90px+20px */
  width:25px; height:25px;
  display: none; /* 숨기기 */
}
/* 회원정보 */
nav>div>ul>li>ul{
  text-indent: 15px;
}
nav>div>ul>li>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
/* 브랜드소개 */
nav>div>ul>li>div{
  display:block;
  position:none;
}
nav>div>ul>li>div>ul{
  text-indent: 15px;
  background-color: yellowgreen;
}
nav>div>ul>li>div>ul>li{
  clear: both;
}
nav>div>ul>li>div>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
nav>div>ul>li>div>ul>li>a>p{
  text-align: left
}
nav>div>ul>li>div>ul>li>a>img{
  display: none;
}
nav .close{
  top:20px; right:0;
}

/* main */
main{
  padding-top:104px;
}

/* box00 */
#box00{
  margin-bottom: 100px;
}
#box00>section{
  width:100%;
  height: calc(100vh - 104px);
  position: relative;
  background: url('../img/chicorpic.png') no-repeat left center;
  background-size: cover;
  margin-bottom:17px;
}
#box00>section>div.logoBackground{
  width:70vw;
  padding:50px;
  margin: -225px 0 0 -35vw;
}


/* 공통 */
#box01, #box02, #box03, #box04{
  padding-top:0;
  padding-bottom:0;
}

/* box01 */
#box01{
  background: url('../img/01_onestep.jpg') no-repeat center;
  background-size: cover;
  padding:60px 0;
}
#box01>section>div{
  width:75vw;
  padding:50px;
  background-image: none;
  background-color: rgba(255,255,255,0.7);
  margin:0 auto;
}
#box01>section>div>div{
  padding:0;
}
#box01>section>div>div>p{
  padding-left:0px;
}

/* box02 */
#box02{
  background: url('../img/02_easy.jpg') no-repeat center;
  background-size: cover;
  padding:60px 0;
}
#box02>section>div{
  width:75vw;
  padding:50px;
  background-image: none;
  background-color: rgba(255,255,255,0.7);
  margin:0 auto;
}
#box02>section>div>div{
  padding:0;
  text-align: left;
}
#box02>section>div>div>p{
  padding-left:0px;
}

/* box03 */
#box03{
  background: url('../img/03_playful.jpg') no-repeat center;
  background-size: cover;
  padding:60px 0;
}
#box03>section>div{
  width:75vw;
  padding:50px;
  background-image: none;
  background-color: rgba(255,255,255,0.7);
  margin:0 auto;
}
#box03>section>div>div{
  padding:0;
}
#box03>section>div>div>p{
  padding-left:0px;
}

/* box04 */
#box04{
  background: url('../img/04_trendy.jpg') no-repeat center;
  background-size: cover;
  padding:60px 0;
}
#box04>section>div{
  width:75vw;
  padding:50px;
  background-image: none;
  background-color: rgba(255,255,255,0.7);
  margin:0 auto;
}
#box04>section>div>div{
  padding:0;
  text-align: left;
}
#box04>section>div>div>p{
  padding-left:0px;
}

/* view */
#view>section{
  padding: 0 0 100px 0;
}
#view>section>h4{
  color:#407A1D;
  margin-bottom: 63px;
}
#view>section>div{
  width:400%;
}
#view>section>div>figure{
  position: relative;
  width:6.578947368421053%;
}
#view>section>div>figure>img{
  margin-bottom: 15px;
}
#view>section>div>figure>figcaption>dl>dt{
  margin-bottom: 10px;
}
#view>section>div>figure>figcaption>dl>dd:nth-child(2){
  margin-bottom: 20px;
}

/* footer */
footer>div:nth-child(1){
  display: block;
}

  /* footer01 */
footer>div>section.footer01{
  text-align: center;
} 
footer>div>section.footer01>div{
  width:40vw;
  margin:0 auto;
}

  /* footer04 */
  footer>div>section.footer04{
    border-top:1px solid #86A894;
    background-color: #A9D1B9;
    text-align: center;
    font-size: 11px;
  }
  footer>div>section.footer04>dl{
    display: block;
    line-height: 20px;
  }
  footer>div>section.footer04>dl>dd{
    padding-right: 0px;
    border-style: none;
  }
  footer>div>section.footer04>dl:nth-child(3){
    margin-bottom: 25px;
  }
  footer>div>section.footer04>dl:nth-child(3)>dd{
    border-style:none
  }
  small{
    margin-bottom:25px;
  }
  footer>div>section.footer04>dl:last-child{

    display: flex;
    justify-content: space-between;
  }
  footer>div>section.footer04>dl:last-child>dd{
    border-style: none;
  }
  footer>div>section.footer04>dl:last-child>dd>a>img{
    width:4vw; height:4vw;
  }

.footer02, .footer03{
  display: none;
}

  /*  */
}

/* 모바일 */
@media screen and (max-width:579px) and (min-width:5px){
  header>div,nav>div,article>div,article>section,footer>div{
    width:96vw
  }
  #box02,#box03,#box04,#box05,#box06{
    padding-top: 10vw;
    margin-bottom: 10vw;
  }
  p.title{
    /* font-size:36px; */
  }
  /* header */
header{
  position: fixed;
}
#headerWrap{
  height:0px;
}
header>div{
  display: block;
  text-align: center;
}
h1 img{
  width: 130px; 
}
header>div>ul{
  display: none;
}
p.btn{
  width:20px; height:20px;
  position:absolute;
  top:50%; right:10px;
  margin-top:-10px;
}
p.btn>span{ /* 공통 */
  width:100%;
  height:2px;
  background-color: white;
  position:absolute;
}
p.btn>span:nth-child(1){
  top:0; left:0;
}
p.btn>span:nth-child(2){
  top:50%; left:0;
  margin-top: -1px;
}
p.btn>span:nth-child(3){
  bottom:0; left:0;
}

/* nav */
nav{
  width:100%; height:100%;
  position:fixed;
  right:-100%;  /* 숨기기 */
  /* right:0; */
  top:0;
  padding:0 40px;
  box-sizing: border-box;
}
nav>div{
  display: block;
}
li.hiddenWeb{
  display: block;
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
  padding: 0 ;
  border-top:1px solid #dfdfdf;
  position: relative;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
/* 회원정보,브랜드소개 */
nav>div>ul>li>ul{
  text-indent: 15px;
}
nav>div>ul>li>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
nav>div>ul>li>ul>li{
  display: none; /* 숨기기 */
}


/* main */
main{
  padding-top:50px;
}

/* box00 */
#box00{
  margin-bottom: 50px;
}
#box00>section{
  width:100%;
  height: calc(100vh - 104px);
}
#box00>section>div.logoBackground{
  width:90vw;
  padding:40px;
  box-sizing: border-box;
  margin: -225px 0 0 -45vw;
}
#box00>section>div.logoBackground>h3{
  margin-bottom: 30px;
}
#box00>section>div.logoBackground>h3>a>img{
  width:100%;
}
#box00>section>div.logoBackground>p:nth-child(2){
  margin-bottom: 30px;
}
#box00>section>div.logoBackground>p.goHome{
  width:90%;
  line-height: 50px;
}


/* 공통 */

  /* box01 */


  /* box02 */


  /* box03 */


  /* box04 */

  

  /*  */
}