@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Joan&display=swap'); */


/* 고정 */
body{
  font-size:18px;
}
#wrap{
  font:18px/30px Arial,sans-serif;
  color:#595959;
  position:relative;
  
}
img{
  max-width: 100%;
  max-height: 100%;
}
.hide{
  width:0; height:0;
  font-size:0; line-height:0;
  position:absolute; visibility:hidden;
}

/* 공통 */
header>div,nav>div,article>div,article>section,footer>div{
  width:100%; /* 1200px; */
  margin: 0 auto;
}
h3,h4{
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}
p.title{
  font-size:36px;
}

/* header */
#headerWrap{
  width:100%;
  height:194px;
  /* height:500px; */ /* 지금 */
  position:absolute;
  left:0; top:0px;
  background-color:rgba(255, 255, 255, 0.9);
  z-index:400;
}
header{
  width:100%;
  background-color: #A9D1B9;
  padding: 18px 0;
}
header>div{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
header>div>ul{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
header>div>ul>li{
  font-size: 16px;
  display:inline;
}
header>div>ul>li:nth-child(4){border-right-style: none;}
header>div>ul>li>p{
  line-height:20px;
  height:fit-content;
  color: white;
  border-right: solid 1px #ffffff;
  padding:0 15px 0;
}


/* nav */
nav{
  background-color: #F8F3EB;
  width:100%;
  position:relative;
}
nav>div{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}
li.hiddenWeb{
  display: none;
}
nav>div>h2{}
nav>div>h2>img{}
nav>div>ul{
  width:100%;
  display: flex;
  flex-wrap:wrap;
  padding: 30px 0;
  margin:0 auto;
}
nav>div>ul>li{
  width:25%;
  text-align: center;
}
nav>div>ul>li>a{
  color: #595959;
}
nav>div>ul>li>div{ /* 지금 */
  display:none; /* 숨기기 */
  position: absolute;
  top:200px; left:0;
  width:100%;
}
nav>div>ul>li>div>ul{
  width:100%; /* 1200px; */
  margin: 0 auto;
}
nav>div>ul>li>div>ul>li{
  float:left;
  width:16.66666666666667%;
}
nav>div>ul>li>div>ul>li>a{
  color:#595959
}
nav>div>ul>li>div>ul>li>a>p{
  text-align: center;
}
nav>div>ul>li>div>ul>li>a>img{
  border: solid 1px #DFDFDF;
  width:197px;
}

nav .close{
  position: absolute;
  right:0; top:0px;  /* 90px+20px */
  width:35px; height:35px;
  /* background-color: pink; */
  display: none; /* 숨기기 */
}
nav .close>span{
  position:absolute;
  left:0; top:50%;
  width:100%;height:1px;
  background-color: #595959;
}
nav .close>span:first-child{
  transform:rotate(-135deg) translateX(0%);
}
nav .close>span:last-child{
  transform:rotate(-45deg) translate(0%);
}

/* main */
main{
  padding-top:194px;
}


/* view */
#view>section{
  width:100%;
  padding: 55px 0 156px;
  overflow: hidden;
}
#view>section>h4{
  color:#407A1D;
  margin-bottom: 63px;
}
#view>section>div{
  width:300%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
#view>section>div>figure{
  position: relative;
  width:6.578947368421053%;
  padding:20px;
}
#view>section>div>figure>img{
  border: 1px solid #dfdfdf;
  margin-bottom: 15px;
}
#view>section>div>figure>figcaption{}
#view>section>div>figure>figcaption>dl{}
#view>section>div>figure>figcaption>dl>dt{
  font-size:24px;
  margin-bottom: 30px;
}
#view>section>div>figure>figcaption>dl>dd:nth-child(2){
  margin-bottom: 20px;
}
#view>section>div>figure>figcaption>dl>dd:nth-child(3){
  color:#407A1D;
  font-size: 15px;
  position: absolute;
  bottom:0; right:0;
}

/* footer */
footer{
  background-color: #A9D1B9;
  color:#ffffff;
  font-size:16px;
}
footer>div:nth-child(1){
  padding: 40px 0px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer>div:nth-child(2){
  width:100%;
  text-align: center;
}
  /* footer01 */
footer>div>section.footer01{}

footer>div>section>p{
  font-size: 18px;
  margin-bottom: 10px;
}
footer>div>section.footer01>div{
  border: 1px solid #ffffff;
  padding:15px 25px;
}
footer>div>section.footer01>div>dl{
  box-sizing: border-box;
}
footer>div>section.footer01>div>dl>dt{
  display: inline-block;
}
footer>div>section.footer01>div>dl>dd{
  display: inline;
}
footer>div>section.footer01>div>dl:nth-child(2){
  margin-bottom:8px;
}

  /* footer02 */
footer>div>section.footer02{
  padding-right:10% ;
  padding-left:10% ;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
footer>div>section.footer02>ul{
  padding-top:40px;
}
footer>div>section.footer02>ul>li{
  line-height: 43px;
}
footer>div>section.footer02>ul>li>a{
  color:white
}

  /* footrt03 */
footer>div>section.footer03>div{
  height:130px;
}
footer>div>section.footer03>div>dl{
  position: relative;
  width:250px;
  margin-bottom: 10px;
}
footer>div>section.footer03>div>dl>dt{
  display: inline;
}
footer>div>section.footer03>div>dl>dt>a>img{
  width:30px;
  margin-right:7px;
  position:absolute;
  bottom:0; left:0;
}
footer>div>section.footer03>div>dl>dd{
  display: inline;
  margin-left:40px;
  line-height: 30px;
}
footer>div>section.footer03>div>dl>dd>a{
  color:white;
}

  /* footer04 */
footer>div>section.footer04{
  background-color: black;
  color:white;
  font-size: 11px;
  padding:35px 0;
}
footer>div>section.footer04>dl{
  display: inline-block;
}
footer>div>section.footer04>dl>dt{
  display: inline-block;
}
footer>div>section.footer04>dl>dd{
  display: inline;
  padding-right: 5px;
  border-right: 1px solid #ffffff;
}
footer>div>section.footer04>dl:nth-child(3)>dd{
  border-style:none
}
small{
  display: block;
}
footer>div>section.footer04>dl:last-child{
  margin:0 auto;
  width:15vw;
  display: none;
}



/* aside */
aside>p{
  position:fixed;
  bottom:20px; right:25px;
  z-index: 9999;
}
aside>p>a{
  width:50px; height:50px;
  background-color: #d9d9d9;
  color:#696969;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size:27px;
}

/* modal */

  /* login */
  #login{
    background-color: #FFFDF9;
    width:550px;
    padding:60px;
    box-sizing: border-box;
    position:fixed;
    top:50%; left:50%;
    margin: -325px 0 0 -275px;
    z-index: 666;
    display: none; /* 숨기기 */
  }
  #login>section{
    width:100%;
    margin: 0 auto;
  }
  #login>section>h4{
    color:#6F9475;
    margin-bottom: 120px;
  }
  #login>section>ul>li>input{
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid #595959;
    font-size: 27px;
    line-height:50px;
    margin-bottom: 60px;
  }
  #login>section>ul>li.loginId>input{
    margin-bottom: 40px
  }
  #login>section>p>button{
    width:100%;
    color:#6F9475;
    border:3px solid #6F9475;
    line-height: 70px;
    font-size:36px;
    margin-bottom: 36px;
    background-color: #ffffff;
  }
  #login>section>ul.login02{
    margin: 0 auto;
    text-align: center;
  }
  #login>section>ul.login02>li{
    display: inline;
  }
  #login>section>ul.login02>li:nth-child(1){
    border-right: 1px solid #595959;
    padding-right: 10px;
  }
  #login>section>ul.login02>li:nth-child(2){
    padding-left:10px ;
  }
  #login>section>ul.login02>li>a{
    color:#595959
  }
  #login .close{
    position: absolute;
    right:20px; top:20px;
    width:40px; height:40px;
    /* background-color: pink; */
  }
  #login .close>span{
    position:absolute;
    left:0; top:50%;
    width:100%;height:1px;
    background-color: #595959;
  }
  #login .close>span:first-child{
    transform:rotate(-135deg) translateX(0%);
  }
  #login .close>span:last-child{
    transform:rotate(-45deg) translate(0%);
  }
  
  
    /* join */
  #join{
    background-color: #FFFDF9;
    width:60%;/* 1200px; */
    box-sizing: border-box;
    padding:60px;
    overflow: hidden;
    z-index: 666;
    position:absolute;
    top:50px; left:50%;
    margin-left:-30%;
    display: none; /* 숨기기 */
  }
  #join>section{
    width:100%;
    margin: 0 auto;
  }
  #join>section>h4{
    color:#6F9475;
    margin-bottom: 50px;
  }
      /* 공통 */
  #join>section>ul>li{
    padding: 30px 0;
    border-bottom: solid 1px #dfdfdf;
    border-top: solid 1px #dfdfdf;
  }
  #join>section>ul>li:last-child{border-style:none}
  #join>section>ul>li>label:not([for="userCheck02"]){
    display: block;
    margin-bottom: 10px;
  }
  #join>section>ul>li>span{color:#ababab}
  #join>section>ul>li>input:not([type="checkbox"]){
    width:60%;
    line-height: 20px;
    padding:10px;
    box-sizing: border-box;
    margin-right: 13px;
  }
  #join>section>ul>li:nth-child(4)>input{width:200px;}
  #join>section>ul>li:nth-child(4)>span{color:#595959}
  #join>section>ul>li:nth-child(5)>input{margin-right:20px;}
  #join>section>ul>li:nth-child(5)>button{height:30px}
  #join>section>ul>li>select{
    height:35px;
  }
  #join>section>p{
    float:right
  }
  #join>section>p>button{
    border:3px solid #6F9475;
    background-color: #ffffff;
    color:#6F9475;
    font-size:36px;
    width:100%;
  }
  #join .close{
    position: absolute;
    right:20px; top:20px;
    width:40px; height:40px;
    /* background-color: pink; */
  }
  #join .close>span{
    position:absolute;
    left:0; top:50%;
    width:100%;height:1px;
    background-color: #595959;
  }
  #join .close>span:first-child{
    transform:rotate(-135deg) translateX(0%);
  }
  #join .close>span:last-child{
    transform:rotate(-45deg) translate(0%);
  }
  
  
  
  
    /* interest */
      /* TOP */
    #interest{
      background-color: #FFFDF9;
      /* background-color: red; */
      width:75%;
      padding:50px;
      box-sizing: border-box;
      z-index: 666;
      position:absolute;
      top:50px; left:50%;
      margin-left:-37.5%;
      display: none; /* 숨기기 */
    }
    #interest>section{
      width:100%;
      margin: 0 auto;
    }
    #interest input{
      width:100%;
      box-sizing: border-box;
    }
    #interest>section>h4{
      color:#6F9475;
      margin-bottom: 50px;
    }
    #interest>section>.interestTop{
      background-color: #F8F3EB;
      padding: 5px 0;
      display: flex;
      flex-wrap:wrap;
      text-align: center;
      margin-bottom: 30px;
    }
    #interest>section>.interestTop>p{
      width:20%;
    }
    #interest>section>.interestTop>p:first-child{
      width:5%;
    }
    #interest>section>.interestTop>p:nth-child(3){
      width:35%;
    }
      /* ul */
    #interest>section>ul{
      margin-bottom: 50px;
    }
    #interest>section>ul>li{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      border-bottom: 1px solid #DFDFDF;
    }
    #interest>section>ul>li>p{
      width:20%;
      font-size: 15px;
    }
    #interest>section>ul>li>p:first-child{
      width:5%;
    }
    #interest>section>ul>li>p:nth-child(3){
      width:35%;
      /* vertical-align: middle; */
    }
    #interest>section>ul>li>p>img{
      width:100px;
      border:1px solid #DFDFDF;
    }
    #interest ul>li>.button{
      width:20%;
    }
    #interest ul>li>.button button{
      padding:3px 0;
      width:100px;
      color:#595959;
      border:1px solid #595959;
      background-color:white;
    }
      /* 마지막 버튼 */
    #interest>section>div:last-child{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    #interest>section>div:last-child>p{
      width:48%;
    }
    #interest>section>div:last-child>p>button{
      width:100%;
      padding:20px 0;
      font-size:24px;
      border: 3px solid #6F9475;
      color:#6F9475;
      background-color:white;
    }
    #interest .close{
      position: absolute;
      right:20px; top:20px;
      width:40px; height:40px;
      /* background-color: pink; */
    }
    #interest .close>span{
      position:absolute;
      left:0; top:50%;
      width:100%;height:1px;
      background-color: #595959;
    }
    #interest .close>span:first-child{
      transform:rotate(-135deg) translateX(0%);
    }
    #interest .close>span:last-child{
      transform:rotate(-45deg) translate(0%);
    }
  
    /* basket */
    #basket{
      background-color: #FFFDF9;
      /* background-color: red; */
      width:75%;
      padding:50px;
      box-sizing: border-box;
      z-index: 666;
      position:absolute;
      top:50px; left:50%;
      margin-left:-37.5%;
      display: none; /* 숨기기 */
    }
    #basket>section{
      width:100%;
      margin: 0 auto;
    }
    #basket>section>h4{
      color:#6F9475;
      margin-bottom: 50px;
    }
    #basket>section>.basketTop{
      background-color: #F8F3EB;
      padding: 5px 0;
      display: flex;
      flex-wrap:wrap;
      text-align: center;
      margin-bottom: 20px;
    }
    #basket>section>.basketTop>p{
      width:17%;
    }
    #basket>section>.basketTop>p:first-child{
      width:5%;
    }
    #basket>section>.basketTop>p:nth-child(3){
      width:25%;
    }
      /* ul */
    #basket>section>ul{
      margin-bottom: 50px;
    }
    #basket>section>ul>li{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      border-bottom: 1px solid #DFDFDF;
    }
    #basket>section>ul>li>p{
      width:17%;
      font-size: 15px;
    }
    #basket>section>ul>li>p:first-child{
      width:5%;
    }
    #basket>section>ul>li>p:nth-child(3){
      width:27%;
    }
    #basket>section>ul>li>p:nth-child(4)>input{
      width:80%; /* 구입수량 */
    }
    #basket>section>ul>li>p>img{
      width:100px;
      border:1px solid #DFDFDF;
    }
    #basket ul>li>.button{
      width:17%;
    }
    #basket ul>li>.button button{
      padding:3px 0;
      width:100px;
      color:#595959;
      border:1px solid #595959;
      background-color:white;
    }
    #basket .allPrice{
      margin-bottom:50px;
      font-size:27px;
    }
    #basket .allPrice>p{
      font-size:13px;
      text-align: right;
    }
    #basket .allPrice>div{
      display: flex;
      justify-content: flex-end;
    }
    #basket .allPrice>div>p:nth-child(2){
      width:fit-content;
      border-bottom: 2px solid #595959;
      margin:0 10px;
      text-align: right;
    }
      /* 마지막 버튼 */
    #basket>section>div:last-child{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    #basket>section>div:last-child>p{
      width:48%;
    }
    #basket>section>div:last-child>p>button{
      width:100%;
      padding:20px 0;
      font-size:24px;
      border: 3px solid #6F9475;
      color:#6F9475;
      background-color:white;
    }
    #basket .close{
      position: absolute;
      right:20px; top:20px;
      width:40px; height:40px;
      /* background-color: pink; */
    }
    #basket .close>span{
      position:absolute;
      left:0; top:50%;
      width:100%;height:1px;
      background-color: #595959;
    }
    #basket .close>span:first-child{
      transform:rotate(-135deg) translateX(0%);
    }
    #basket .close>span:last-child{
      transform:rotate(-45deg) translate(0%);
    }
  
    #back{
      width:100%; height:100%;
      background-color: rgba(0,0,0,0.6);
      position:fixed;
      top:0; left:0;
      z-index:600;
      display: none;
    }

/* main */
#products{
  padding-top:194px;
}
#products>h2{
  font-size:36px;
  color:#6F9475;
  text-align:center;
  line-height:40px;
  padding: 150px 0;
  /* margin:0 auto; */
}
#products>section{
  overflow: hidden;
}
#products>section>div.top{
  width:74.66666666666667%;
  padding:17px 8px;
  box-sizing: border-box;
  border:1px solid #dfdfdf;
  float:right;
  margin-bottom:40px ;
}
#products>section>div.top p{
  display: inline;
  padding:0 7px;
  border-right: 1px solid #595959;
}
#products>section>div.top>select{
  padding-left:7px;
}
#products>section>div.top>p:nth-child(2){
  border-style:none;
}
.right{
  float:right;
}
.right>p{
  display: inline;
}
.right>p>select{
  width:150px;
  height: 100%;
  text-align: center;
  font-size: 18px;
  color:#595959
}
.right>p:nth-child(2){
  border-style:none;
}

/* 검색*/
aside.search{
  width:21.66666666666667%;
  box-sizing: border-box;
  float:left;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
aside.search>h3{
  font-weight:normal;
  text-align: left;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid #dfdfdf;
}
  /* brand checkbox */
aside.search>div.brand{
  /* background-color: yellowgreen; */
  padding:20px 0;
  border-bottom:1px solid #dfdfdf;
}
aside.search>div.brand>p{
  font-size:21px;
  margin-bottom:30px;
}
aside.search>div.brand>label{
  font-size: 16px;
  display: block;
}
aside.search>div.brand>label>input{
  vertical-align: middle;
  width:20px; height:20px;
  margin-right:8px ;
  /* color:#595959; */
}
  /* price */
.price{
  padding:20px 0;
  border-bottom:1px solid #dfdfdf;
}
.price>p{
  font-size:21px;
  margin-bottom:30px;
  display: block;
}
.price>.minPrice,.price>.maxPrice{
  width:80px; 
  padding:2px 5px;
  box-sizing: border-box;
  border:1px solid #595959;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size:16px;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 25px;
  color:#595959
}
.price>.minPrice{
 float: left;
}
.price>.maxPrice{
  float:right;
}
.price>#namePrice{
  width:100%;
  box-sizing: border-box;
}

/* nameSearch */
.nameSearch{
  padding:20px 0;
}
.nameSearch>label{
  font-size:21px;
  margin-bottom:30px;
  display: block;
}
.nameSearch>input{
  width:100%;
  padding:5px 0 0 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
  line-height: 25px;
  border-radius: 10px;
  font-size:16px;
}
.nameSearch>button{
  float: right;
  width:70px;
  line-height:30px;
  background-color: #595959;
  color:white;
  border-style:none;
  border-radius: 8px;
  font-size:18px;
  padding: 6px 0;
}


/* 제품 */

div.all{
  text-align:center;
  float: right;
  width:74.66666666666667%;
  box-sizing: border-box;
  /* background-color: violet; */
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom:solid 1px #dfdfdf;
}
div.all>div{
  /* background-color: yellowgreen; */
  width:30%;
  box-sizing: border-box;
  margin-bottom:30px;
  position: relative;
}
div.all>div>figure{
  width:100%; 
  box-sizing: border-box;
  padding: 15px 0;
  /* background-color: tomato; */
}
div.all>div>figure>img{
  width:100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
}
.all>div>figure>figcaption>dl{
  width:100%;
  box-sizing: border-box;
  /* height:155px; */
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  /* background-color: violet; */
  padding:0 5px;
}
.all>div>figure>figcaption>dl>dt{
  width:100%;
  font-weight: bolder;
  margin-bottom:20px;
}
.all>div>figure>figcaption>dl>dd{
  width:100%;
}
.all>div>figure>figcaption>dl>dd:nth-child(2){
  margin-bottom:30px;
}
.all>div>figure>figcaption>dl>dd:nth-child(3){
  /* margin-bottom:15px; */
  width:100%;
  position: absolute;
  bottom:0; left:0;
}
section.products>p{
  /* clear: both; */
  margin:0 auto;
  width:74.66666666666667%;
  float:right;
  text-align: center;
}
  /* display: inline; */
