@charset "utf-8";
/* 질문

close버튼이 타블렛에서 안 뜬 이유.
*/
/* 신경X auto, 50%, 25%, 33.3333% */
/* 비율:숫자/기준숫자*100  ex)268/980*100=27.~~~ */

@media screen and (min-width:1210px){
    header>div,nav>div,article>div,article>section,footer>div{
        width:1200px;
    }
    nav>div>ul>li>div>ul{
        width:1200px;
    }
    #box03>section>div{
        width:1200px;
    }

  /*  */
}

/* @media screen and (max-width:1209px) and (min-width:990px){} */

@media screen and (max-width:989px) and (min-width:580px){
  header>div,nav>div,article>div,article>section,footer>div{
    width:90vw
  }
  /* header */
#headerWrap{
  height:0px;
}
header>div{
  display: block;
  text-align: center;
}
header>div>ul{
  display: none;
}

/* nav */
nav{
  width:350px; height:100%;
  position:fixed;
  right:-350px;  /* 숨기기 */
  /* right:0; */
  top:0;
  padding:0 40px;
  box-sizing: border-box;

}
nav>div{
  display: block;
}
li.hiddenWeb{
  display: block;
}
.hiddenTablet{
  display:none
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
  padding: 0 ;
  border-top:1px solid #dfdfdf;
  position: relative;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
nav .close{
  position: absolute;
  right:0; top:0;  /* 90px+20px */
  width:25px; height:25px;
  display: none; /* 숨기기 */
}
/* 회원정보 */
nav>div>ul>li>ul{
  text-indent: 15px;
}
nav>div>ul>li>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
/* 브랜드소개 */
nav>div>ul>li>div{
  display:block;
  position:none;
}
nav>div>ul>li>div>ul{
  text-indent: 15px;
  background-color: yellowgreen;
}
nav>div>ul>li>div>ul>li{
  clear: both;
}
nav>div>ul>li>div>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
nav>div>ul>li>div>ul>li>a>p{
  text-align: left
}
nav>div>ul>li>div>ul>li>a>img{
  display: none;
}
nav .close{
  top:20px; right:0;
}

/* main */
main{
  padding-top:104px;
}

/* box01 */
#box01{
  height :100vh;
}
#box01>h2{
  border-style:none;
  font-size:10vw;
  line-height:150%;
  width:65vw; height:50vh;
  position:absolute;
  top:50%; left:50%;
  margin:-25vh 0 0 -32.5vw;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
#box01>ul>li{
  background-size: auto 100%;
}
#box01>p.prev{
  width:6%; height: auto;
  position:absolute;
  top:45%; left:10px;
}
#box01>p.next{
  width:6%; height: auto;
  position:absolute;
  top:45%; right:10px;
}

/* box02 */
#box02>section>div{
  width:100%;
}
#box02>section>div>figure{
  width:30%;
}
dd>.goCart{
  width:100%;
}
.hiddenTablet{
  display:none;
}

/* box03 */


/* box04 */

/* 공통 */
#box04>div>div>section{
  padding:20px; 
}
#box04>div>div>section>h4{
  margin-bottom:15px;
}
#box04>div>div>section>p:nth-child(3){
  margin-bottom:25px;
}
#box04>div>div>section>p:last-child{
  width:70%;
}


/* box05 */
#box05>section{
  padding:30px 0;
}
#box05>section>div>figure{
  width:33.33333%;
  text-align: center;
  margin-bottom:30px ;
}
#box05>section>div>figure>div{
  width:130px; height:130px; 
}


/* box06 */

/* addition01  */
#box06>div>div>section.addition01>h4{
  margin-bottom: 30px;
}
#box06>div>div>section.addition01>p>input[type="text"]{
  width:90%;
  margin-bottom: 0;
}
#box06>div>div>section.addition01>p.send{
  top:80%;
}
#box06>div>div>section.addition01{
  padding:30px 20px 30px 5%; 
}
/* addition02 */
#box06>div>div>section.addition02{
  padding:30px 5% 30px 20px;
}

#box06>div>div>section.addition02>h4{
  margin-bottom: 20px;
}

/* view */
#view>section{
  padding: 0 0 100px 0;
}
#view>section>h4{
  color:#407A1D;
  margin-bottom: 63px;
}
#view>section>div{
  width:400%;
}
#view>section>div>figure{
  position: relative;
  width:6.578947368421053%;
}
#view>section>div>figure>img{
  margin-bottom: 15px;
}
#view>section>div>figure>figcaption>dl>dt{
  margin-bottom: 10px;
}
#view>section>div>figure>figcaption>dl>dd:nth-child(2){
  margin-bottom: 20px;
}

/* footer */
footer>div:nth-child(1){
  display: block;
}

  /* footer01 */
footer>div>section.footer01{
  text-align: center;
} 
footer>div>section.footer01>div{
  width:40vw;
  margin:0 auto;
}

  /* footer04 */
  footer>div>section.footer04{
    border-top:1px solid #86A894;
    background-color: #A9D1B9;
    text-align: center;
    font-size: 11px;
  }
  footer>div>section.footer04>dl{
    display: block;
    line-height: 20px;
  }
  footer>div>section.footer04>dl>dd{
    padding-right: 0px;
    border-style: none;
  }
  footer>div>section.footer04>dl:nth-child(3){
    margin-bottom: 25px;
  }
  footer>div>section.footer04>dl:nth-child(3)>dd{
    border-style:none
  }
  small{
    margin-bottom:25px;
  }
  footer>div>section.footer04>dl:last-child{
    display: flex;
    justify-content: space-between;
  }
  footer>div>section.footer04>dl:last-child>dd{
    border-style: none;
  }
  footer>div>section.footer04>dl:last-child>dd>a>img{
    width:30px; height:30px;
  }

.footer02, .footer03{
  display: none;
}

  /*  */
}



@media screen and (max-width:579px) and (min-width:5px){
  header>div,nav>div,article>div,article>section,footer>div{
    width:95vw
  }
  #box02,#box03,#box04,#box05,#box06{
    padding-top: 10vw;
    margin-bottom: 10vw;
  }
  h3,h4{
    font-size: 10vw;
    line-height:20vw;
  }
  p.title{
    /* font-size:36px; */
  }
  /* header */
header{
  position: fixed;
}
#headerWrap{
  height:0px;
}
header>div{
  display: block;
  text-align: center;
}
h1 img{
  width: 130px; 
}
header>div>ul{
  display: none;
}

/* nav */
nav{
  width:100%; height:100%;
  position:fixed;
  right:-100%; 
  /* right:0; */
  top:0;
  padding:0 40px;
  box-sizing: border-box;
}
nav>div{
  display: block;
}
li.hiddenWeb{
  display: block;
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
  padding: 0 ;
  border-top:1px solid #dfdfdf;
  position: relative;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
/* 회원정보,브랜드소개 */ */
nav>div>ul>li>ul{
  text-indent: 15px;
}
nav>div>ul>li>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}


/* main */
main{
  padding-top:76.953px;
}

/* box01 */
#box01{
  width:100%;
  height : calc(100vh - 76.953px);
  position: relative;
  overflow: hidden;
  margin-bottom:100px ;
}
#box01>h2{
  border-style:none;
  font-size:10vw;
  line-height:150%;
  width:60vw; height:20vh;
  top:50%; left:50%;
  margin:-10vh 0 0 -30vw;
  color:#ffffff;
}
#box01>ul>li{
  background-size: auto 100%;
}
#box01>.picNav{
  display: none;
}
#box01>p.prev{
  width:6%; height: auto;
  position:absolute;
  top:45%; left:10px;
}
#box01>p.next{
  width:6%; height: auto;
  position:absolute;
  top:45%; right:10px;
}

/* box02 */
#box02{
  padding-top: 0;
}
#box02>section>h3{
  width:fit-content;
  font-size:10vw;
  margin:0 auto 12vw;
  line-height:12vw;
}
#box02>section>div{
  justify-content: space-around;
}
#box02>section>div>figure{
  padding-bottom:10vw;
  width:39.6551724137931vw;
  margin-bottom: 10vw;
}
#box02>section>div>figure>figcaption>dl{
  padding: 0;
}
#box02>section>div>figure>figcaption>dl>dt{
  font-size:7vw;
  line-height: 14vw;
  margin-bottom: 5px;
}
#box02>section>div>figure>figcaption>dl>dd{
  font-size:6vw;
  line-height: 12vw;
}
#box02>section>div>figure>figcaption>dl>dd:last-child{
  position:absolute;
  bottom:0; left:0;
  width:100%;
}
dd>.goCart{
  width:100%;
  line-height: 10vw;
  font-size:6vw;
}
#box02>section>p.goProducts{
  padding: 30px 0;
  font-size:7vw;
}






}