@charset "utf-8";
/* 록시땅 */
/* box01 */
  #box01{
    width:100%;
    height : calc(100vh - 194px);
    position: relative;
    background: url('../img/loccitane.png') no-repeat center;
    background-size: cover;
  }
  /* #box01>section{
    width:100%;
  } */
  #box01>section>h2{}
  #box01>section>h2>img{
    width:800px;
    display: block;
    position: absolute;
    top:50%; left:50%;
    margin:-86.5px 0 0 -400px;
  }

  /* box02 */
  #box02{}
  #box02>section{}
  #box02>section>h3{
    width:500px; height:280px;
    padding:20px;
    box-sizing: border-box;
    border: 1px solid #595959;
    margin:0 auto 40px;
  }
  #box02>section>h3>div{
    width:100%; height:100%;
    background: url('../img/logo/loccitane_logo01.png') no-repeat center;
    background-size: contain;
  }
  #box02>section>dl{
    text-align: center;
  }
  #box02>section>dl>dt{
    color:#407A1D;
    font-size:27px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  #box02>section>dl>dd{
    margin-bottom: 30px;
  }
  #box02>section>dl>dd>strong{
    font-weight: normal;
    background-color: #D4E8C9;
  }

  /* box03 */
  #box03{
    background-color: #FFFEF3;
    padding-bottom: 50px;
    margin-bottom:0;
  }
  #box03>section>div{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
  }
  #box03>section>div>figure{
    width:20%;
    margin:0 2.5% 0;
    box-sizing: border-box;
  }
  #box03>section>div>figure>a{}
  #box03>section>div>figure>a>img{
    box-sizing: border-box;
    border: 3px solid #dfdfdf;
  }
  #box03>section>div>figure>figcaption{
    text-align: center;
  }

  /* box04 */
  #box04{}
  #box04>section{
    /* position: relative; */
    /* background-color: yellowgreen; */
  }
  #box04>section>h3{
    width:fit-content;
    margin:0 auto;
    color:#407A1D;
    font-size:27px;
    font-weight: normal;
    margin-bottom:30px;
  }
  #box04>section>.backImg{
    background: url('../img/loccitane2.png') no-repeat bottom right;
    background-size: 50%;
    box-sizing: border-box;
    padding-right:50%;
  }
  #box04>section .text{
    width:90%;
    padding-top:30%;
    text-align: right;
  }
  #box04>section .text>p:not(p:last-child){
    margin-bottom: 20px;
  }

  /* box05 */
  #box05{}
  #box05>section{}
  #box05>section>.button{
    width:400px;
    box-sizing: border-box;
    margin:0 auto 50px;
  }
  #box05>section>.button>a{}
  #box05>section>.button>a>button{
    width:100%;
    font-size:27px;
    color:#595959;
    line-height: 95px;
    border: 1px solid #595959;
    background-color: #ffffff;
  }
  #box05>section>.loccitaneSNS{
    margin: 0 auto;
  }
  #box05>section>.loccitaneSNS>p{
    text-align: center;
    margin-bottom:30px;
  }
  #box05>section>.loccitaneSNS>ul{
    width:fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
  }
  #box05>section>.loccitaneSNS>ul>li{
    margin:0 20px;
  }
  #box05>section>.loccitaneSNS>ul>li>a{}
  #box05>section>.loccitaneSNS>ul>li>a>img{
    width:30px;
  }
