@charset "utf-8";

@media screen and (min-width:1210px){
    header>div,nav>div,article>div,article>section,footer>div{
        width:1200px;
    }
    nav>div>ul>li>div>ul{
        width:1200px;
    }
    #box03>section>div{
        width:1200px;
    }

  /*  */
}

/* @media screen and (max-width:1209px) and (min-width:990px){} */

/* 타블렛 */
@media screen and (max-width:989px) and (min-width:580px){}

/* 모바일 */
@media screen and (max-width:579px) and (min-width:5px){}