@charset "utf-8";
/* 질문

close버튼이 타블렛에서 안 뜬 이유.
*/
/* 신경X auto, 50%, 25%, 33.3333% */
/* 비율:숫자/기준숫자*100  ex)268/980*100=27.~~~ */

@media screen and (min-width:1210px){
    header>div,nav>div,article>div,article>section,footer>div{
        width:1200px;
    }
    nav>div>ul>li>div>ul{
        width:1200px;
    }
    #box03>section>div{
        width:1200px;
    }

  /*  */
}

/* @media screen and (max-width:1209px) and (min-width:990px){} */

/* 타블렛 */
@media screen and (max-width:989px) and (min-width:580px){
  header>div,nav>div,article>div,article>section,footer>div{
    width:90vw
  }
  .hiddenTablet{
    display:none
  }
  /* header */
  header{
    position:relative;
  }
#headerWrap{
  height:0px;
}
header>div{
  display: block;
  text-align: center;
}
header>div>ul{
  display: none;
}
p.btn{
  width:30px; height:30px;
  position:absolute;
  top:50%; right:20px;
  margin-top:-15px;
}
p.btn>span{ /* 공통 */
  width:100%;
  height:3px;
  background-color: white;
  position:absolute;
}
p.btn>span:nth-child(1){
  top:0; left:0;
}
p.btn>span:nth-child(2){
  top:50%; left:0;
  margin-top: -1.5px;
}
p.btn>span:nth-child(3){
  bottom:0; left:0;
}

/* nav */
nav{
  width:350px; height:100%;
  position:fixed;
  right:-350px;  /* 숨기기 */
  /* right:0; */
  top:0;
  padding:40px;
  box-sizing: border-box;
}
nav>div{
  width:100%;
  display: block;
  position: relative;
}
li.hiddenWeb{
  display: block;
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
  width:100%;
  padding: 0 ;
  border-top:1px solid #dfdfdf;
  position: relative;  
  text-align: left;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
nav .close{
  position: absolute;
  right:-20px; top:-20px;
  width:25px; height:25px;
  display: none; /* 숨기기 */
}
nav .hiddenWeb>ul{
  display: none; /* 숨기기 */
}
/* 회원정보 */
nav>div>ul>li>ul{
  text-indent: 15px;
}
nav>div>ul>li>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
/* 브랜드소개 */
nav>div>ul>li>div{
  display:block;
  position:none;
}
nav>div>ul>li>div>ul{
  text-indent: 15px;
  background-color: yellowgreen;
}
nav>div>ul>li>div>ul>li{
  clear: both;
}
nav>div>ul>li>div>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
nav>div>ul>li>div>ul>li>a>p{
  text-align: left
}
nav>div>ul>li>div>ul>li>a>img{
  display: none;
}

/* main */
main{
  padding-top:104px;
}

/* box01 */
#box01{
  height :100vh;
}
#box01>h2{
  border-style:none;
  font-size:10vw;
  line-height:150%;
  width:65vw; height:50vh;
  position:absolute;
  top:50%; left:50%;
  margin:-25vh 0 0 -32.5vw;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
#box01>ul>li{
  background-size: auto 100%;
}
#box01>ul>li.pic02{
  background-size: auto 100%;
}
#box01>ul>li.pic03{
  background-size: auto 100%;
}
#box01>p.prev{
  width:30px; height: 50px;
  position:absolute;
  top:45%; left:10px;
}
#box01>p.next{
  width:30px; height: 50px;
  position:absolute;
  top:45%; right:10px;
}

/* box02 */
#box02>section>div{
  width:100%;
  justify-content: flex-start;
}
#box02>section>div>figure{
  width:26vw;
  margin:0 2vw 30px;
}
dd>.goCart{
  width:100%;
}

/* box03 */
#box03>section>div{
  padding-left: 0;
}

/* box04 */

/* 공통 */
#box04>div>div>section{
  padding:20px; 
}
#box04>div>div>section>h4{
  margin-bottom:15px;
}
#box04>div>div>section>p:nth-child(3){
  margin-bottom:25px;
}
#box04>div>div>section>p:last-child{
  width:70%;
}
#box04>div>div.no01{
  background-size:auto;
}
#box04>div>div.no02{
  background-size: auto;
}


/* box05 */
#box05>section{
  padding:30px 0;
}
#box05>section>div>figure{
  width:33.33333%;
  text-align: center;
  margin-bottom:30px ;
}
#box05>section>div>figure>div{
  width:130px; height:130px; 
}


/* box06 */

/* addition01  */
#box06>div>div>section.addition01>h4{
  margin-bottom: 30px;
}
#box06>div>div>section.addition01>p>input[type="text"]{
  width:90%;
  margin-bottom: 0;
}
#box06>div>div>section.addition01>p.send{
  top:80%;
}
#box06>div>div>section.addition01{
  padding:30px 20px 30px 5%; 
}
/* addition02 */
#box06>div>div>section.addition02{
  padding:30px 5% 30px 20px;
}

#box06>div>div>section.addition02>h4{
  margin-bottom: 20px;
}

/* view */
#view>section{
  padding: 0 0 100px 0;
}
#view>section>h4{
  color:#407A1D;
  margin-bottom: 63px;
}
#view>section>div{
  width:400%;
}
#view>section>div>figure>img{
  margin-bottom: 15px;
}
#view>section>div>figure>figcaption>dl>dt{
  margin-bottom: 10px;
}
#view>section>div>figure>figcaption>dl>dd:nth-child(2){
  margin-bottom: 20px;
}

/* footer */
footer>div:nth-child(1){
  display: block;
}

  /* footer01 */
footer>div>section.footer01{
  text-align: center;
} 
footer>div>section.footer01>div{
  width:40vw;
  margin:0 auto;
}

  /* footer04 */
  footer>div>section.footer04{
    border-top:1px solid #86A894;
    background-color: #A9D1B9;
    text-align: center;
    font-size: 11px;
  }
  footer>div>section.footer04>dl{
    display: block;
    line-height: 20px;
  }
  footer>div>section.footer04>dl>dd{
    padding-right: 0px;
    border-style: none;
  }
  footer>div>section.footer04>dl:nth-child(3){
    margin-bottom: 25px;
  }
  footer>div>section.footer04>dl:nth-child(3)>dd{
    border-style:none
  }
  small{
    margin-bottom:25px;
  }
  footer>div>section.footer04>dl:last-child{

    display: flex;
    justify-content: space-between;
  }
  footer>div>section.footer04>dl:last-child>dd{
    border-style: none;
  }
  footer>div>section.footer04>dl:last-child>dd>a>img{
    width:4vw; height:4vw;
  }

.footer02, .footer03{
  display: none;
}

/* modal */
  /* login */

    /* join */
    #join{
      width:90vw;
      margin-left:-45vw;
      display: none; /* 숨기기 */
    }
    #join>section>p>button{
      font-size:24px;
    }

    /* interest */
    #interest{
      width:95vw;
      margin-left:-47.5vw;
      padding:20px;
      display: none; /* 숨기기 */
    }
    #interest>section figure>img{
      width:15%;
    }
    #interest>section img{
      width:85%;
    }
    #interest .button button{
      width:100%;
    }

    /* basket */
    #basket{
      width:95vw;
      margin-left:-47.5vw;
      padding:20px;
      display: none; /* 숨기기 */
    }
    #basket>section figure>img{
      width:15%
    }
    #basket>section>ul>li>p>img{
      width:85%;
    }
    #basket ul>li>.button button{
      width:100%;
    }
    #basket>section figure>.button>p>button{
      width:100%;
    }

  /*  */
}


/* 모바일 */
@media screen and (max-width:579px) and (min-width:5px){
  header>div,nav>div,article>div,article>section,footer>div{
    width:96vw
  }
  #box02,#box03,#box04,#box05,#box06{
    padding-top: 10vw;
    margin-bottom: 10vw;
  }
  p.title{
    /* font-size:36px; */
  }
  .hiddenMobile{
    display: none;
  }
  /* header */
header{
  position: fixed;
}
#headerWrap{
  height:0px;
}
header>div{
  display: block;
  text-align: center;
}
h1 img{
  width: 130px; 
}
header>div>ul{
  display: none;
}
p.btn{
  width:20px; height:20px;
  position:absolute;
  top:50%; right:10px;
  margin-top:-10px;
}
p.btn>span{ /* 공통 */
  width:100%;
  height:2px;
  background-color: white;
  position:absolute;
}
p.btn>span:nth-child(1){
  top:0; left:0;
}
p.btn>span:nth-child(2){
  top:50%; left:0;
  margin-top: -1px;
}
p.btn>span:nth-child(3){
  bottom:0; left:0;
}

/* nav */
nav{
  width:100%; 
  position:fixed;
  right:-100vw;  /* 숨기기 */
  /* right:0;  */
  top:0;
  padding:40px;
  box-sizing: border-box;
}
nav>div{
  width:100%;
  display: block;
}
li.hiddenWeb{
  display: block;
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
  width:100%;
  padding: 0 ;
  border-top:1px solid #dfdfdf;
  position: relative;
  text-align: left;
  line-height: 40px;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
/* 회원정보,브랜드소개 */
nav>div>ul>li>ul{
  text-indent: 15px;
  display: none; /* 숨기기 */
}
nav>div>ul>li>ul>li{
  line-height: 40px;
}
nav>div>ul>li>ul>li>a{
  color:#595959;
  font-size:15px;
}
nav .close{
  position: absolute;
  right:-20px; top:-20px;  /* 90px+20px */
  width:25px; height:25px;
  display: none; /* 숨기기 */
}


/* main */
main{
  padding-top:76.95px;
}

/* box01 */
#box01{
  width:100%;
  height : calc(100vh - 76.953px);
  position: relative;
  overflow: hidden;
  margin-bottom:100px ;
}
#box01>h2{
  border-style:none;
  font-size:10vw;
  line-height:150%;
  width:60vw; height:20vh;
  top:50%; left:50%;
  margin:-10vh 0 0 -30vw;
  color:#ffffff;
}
#box01>ul>li{
  background-size: auto 100%;
}
#box01>ul>li.pic02{
  background-size: auto 100%;
}
#box01>ul>li.pic03{
  background-size: auto 100%;
}
#box01>.picNav{
  display: none;
}
#box01>p.prev{
  width:6%; height: auto;
  position:absolute;
  top:45%; left:10px;
}
#box01>p.next{
  width:6%; height: auto;
  position:absolute;
  top:45%; right:10px;
}

/* box02 */
#box02>section>h3{
  font-size:27px;
  width:fit-content;
  margin:0 auto 40px;
}
#box02>section>div>figure{
  width:40vw;
}
#box02>section>div>figure>figcaption>dl{
  padding: 0;
}
#box02>section>div>figure>figcaption>dl>dt{
  line-height: 30px;
  margin-bottom: 5px;
}
#box02>section>div>figure>figcaption>dl>dd{
  line-height: 30px;
}
#box02>section>div>figure>figcaption>dl>dd:last-child{
  font-size:80%;
}
dd>.goCart{
  width:100%;
  line-height: 35px;
}
#box02>section>p.goProducts{
  padding: 30px 0;
}

/* box03 */
#box03{
  width:100%;
  background-size: contain 100%;
}
#box03>section>div{
  padding-left: 0px;
}
#box03>section>div>dl{
  width:90vw;
  line-height: 35px;
  margin: 0 auto 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
#box03>section>div>dl>dt{
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 15px;
}
#box03>section>div>dl>dd{
  font-size: 18px;
}
#box03>section>div>dl>dd.small{
  font-size: 15px;
}
#box03>section>.goJoin>button{
  width:80%;
  line-height: 40px;
  font-size:18px;
  font-weight: bold;
  /* background-color: white; */
}

/* box04 */
#box04>div>div>section{
  padding:25px;
}
#box04>div>div>section>h4{
  margin-bottom:20px;
  font-size:27px;
}
#box04>div>div>section>p:nth-child(2){
  margin-bottom:20px
}
#box04>div>div>section>p:nth-child(3){
  margin-bottom:30px;
}
#box04>div>div>section>p:last-child{
  width:70%;
  padding:0 10px 0;
  line-height: 50px;
}
/* no01 */
#box04>div>div.no01{
  padding-top:100%;
  padding-left:0;
}
#box04>div>div.no01{
  background-position:center top;
  margin-bottom: 40px;
}
/* no02 */
#box04>div>div.no02{
  padding-top:100%;
  padding-right:0;
}
#box04>div>div.no02{
  background-position:center top;
}

/* box05 */
#box05>section{
  padding:35px 0;
}
#box05>section>h4{
  width:fit-content;
  margin: 0 auto 35px;
  font-size:27px;
}
#box05>section>div>figure{
  width:50%;
  margin-bottom:30px ;
}
#box05>section>div>figure>div{
  width:30vw; height:30vw;
}

/* box06 */
#box06>div>div{
  display: block;
}
#box06>div>div>section{
  width:100%;
}
/* addition01  */
#box06>div>div>section.addition01{
  padding:50px 15px; 
  position: relative;
}
#box06>div>div>section.addition01>h4{
  font-size:27px;
  margin-bottom: 40px;
  line-height: 35px;
}
#box06>div>div>section.addition01>p>input[type="text"]{
  width:60%;
  margin-bottom: 15px;
}
#box06>div>div>section.addition01>p.send{
  width:18%;
  padding:0 5px;
  line-height: 35px;
  position: absolute;
  right:15px; top:50%;
  margin-top: -20px;
}

/* addition02 */
#box06>div>div>section.addition02{
  padding:30px 15px;
}
#box06>div>div>section.addition02>h4{
  text-align: left;
  font-size:27px;
  margin-bottom: 40px;
  line-height: 35px;
}
#box06>div>div>section.addition02>p{
  text-align: left;
  margin-bottom: 20px;
}
#box06>div>div>section.addition02>p.goStore{
  width:60vw;
  line-height: 50px;
}

/* view */
#view>section{
  padding-top:0;
  padding-bottom:30px;
  /* overflow: hidden; */
}
#view>section>h4{
  margin-bottom: 40px;
  font-size: 27px;
}
#view>section>div{
  width:1200%;
}
#view>section>div>figure{
  width:60vw;
}
#view>section>div>figure>figcaption>dl>dt{
  margin-bottom: 20px;
}

/* footer */
footer>div:nth-child(1){
  display: block;
}
footer>div:nth-child(1){
  padding: 25px 0;
}
  /* footer01 */
footer>div>section.footer01{
  text-align: center;
} 
footer>div>section.footer01>div{
  padding:15px 10px;
  width:80vw;
  margin:0 auto;
}

  /* footer04 */
  footer>div>section.footer04{
    padding:20px 0;
    border-top:1px solid #86A894;
    background-color: #A9D1B9;
    text-align: center;
    font-size: 11px;
  }
  footer>div>section.footer04>dl{
    display: block;
    line-height: 20px;
  }
  footer>div>section.footer04>dl>dd{
    padding-right: 0px;
    border-style: none;
  }
  footer>div>section.footer04>dl:nth-child(3){
    margin-bottom: 15 px;
  }
  footer>div>section.footer04>dl:nth-child(3)>dd{
    border-style:none
  }
  small{
    margin-bottom:15px;
  }
  footer>div>section.footer04>dl:last-child{
    display: flex;
    justify-content: space-between;
    width:25vw;
  }
  footer>div>section.footer04>dl:last-child>dd{
    border-style: none;
  }
  footer>div>section.footer04>dl:last-child>dd>a>img{
    width:6vw; height:6vw;
  }

.footer02, .footer03{
  display: none;
}

/* aside */
aside>p{
  bottom:8px; right:8px;
}
aside>p>a{
  width:35px; height:35px;
  font-size:18px
}


/* modal */
  /* login */
  #login{
    width:100vw; height:100vh;
    top:0; left:0;
    margin: 0;
    padding:40px;
  }
  #login>section>h4{
    margin-bottom: 70px;
  }
  #login>section>ul>li>input{
    width:100%;
    font-size: 18px;
  }
  #login>section>p>button{
    line-height: 50px;
    font-size:18px;
  }
  #login>section>ul.login02>li{
    display: block;
    font-size:15px;
  }
  #login>section>ul.login02>li:nth-child(1){
    border-right:none;
    padding-right: 0px;
  }
  #login>section>ul.login02>li:nth-child(2){
    padding-left:0px ;
  }
  #login .close{
    right:10px; top:10px;
    width:30px; height:30px;
  }

  /* join */
  #join{
    width:100vw; height:100%;
    top:0; left:0;
    margin: 0;
    padding:40px;
  }
      /* 공통 */
  #join>section>ul>li>span{font-size:15px;}
  #join>section>ul>li>input:not([type="checkbox"]){
    padding:5px;
    margin-right: 0;
  }
  #join>section>ul>li:nth-child(4)>input{
    width:60%;
    margin-bottom: 10px;
  }
  #join select{
    width:60%;
  }
  #join>section>ul>li:nth-child(5)>input{
    margin:0 0 10px 0;
  }
  #join>section>ul>li:nth-child(5)>button{
    width:100px;
    display: block;
  }
  #join>section>ul>li>select{
    height:30px;
  }
  #join>section>p>button{
    font-size:18px;
  }
  #join>section>ul>li>label[for="userCheck02"]{
    font-size:15px;
  }
  #join .close{
    right:10px; top:10px;
    width:30px; height:30px;
  }

  #hiddenMobile{
    display: none;
  }

    /* interest */
  #interest{
    width:100%;
    height:100%;
    padding:30px 0;
    top:0; left:0;
    margin-left:0;
  }
  #interest>section>h4{
    font-size:24px;
    margin-bottom: 30px;
  }
  #interest>section>.interestTop{
    position: relative;
  }
  #interest>section>.interestTop>ul{
    justify-content: flex-start;
  }
  #interest>section>.interestTop>ul>li:first-child{
    width:100px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }
  #interest>section>.interestTop>ul>li:first-child::after{
    content: '전체선택';
    font-size:15px;
    color:#595959;
  }
  #interest>section>.interestMain{
    margin-bottom:30px;
  }
  #interest>section figure{
    padding: 20px 13.5px;
    /* display: flex; */
    border-bottom: 10px solid #DFDFDF;
  }
  #interest>section figure>p{
    width:auto
  }
  #interest>section figure>img{
    width:30%; height:100%;
    margin: 0 13px;
  }
  #interest>section figure>figcaption{
    width:50%;
    margin:0 auto;
    box-sizing: border-box;
    position: relative;
  }
  #interest>section figure>figcaption>dl>dt{
    width:100%;
  }
  #interest>section figure>figcaption>dl>dd{
    width:auto;
    position: absolute;
    bottom:-40px; right:0;
    /* background-color: red; */
    border-bottom: 1px solid #dfdfdf;
  }
  #interest>section figure>.button{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:60px;
  }
  #interest>section figure>.button>p{
    width:50%;
  }
  #interest>section figure>.button>p:first-child{
    margin-bottom:0;
  }
  #interest>section figure>.button>p>button{
    width:85%;
  }
  #interest>section>.lastButton{
    width:100%;
  }
  #interest>section>.lastButton>p{
    width:100%;
    padding:0 13.5px;
  }
  #interest>section>.lastButton>p>button{
    font-size:21px;
    line-height: 50px;
  }
  #interest>section>.lastButton>p:first-child{
    width:fit-content;
    position:absolute;
    top:120px; right:0;
  }
  #interest>section>.lastButton>p:first-child>button{
    border-style: none;
    font-size:15px;
    line-height: 40px;
    color:#595959;
    background-color: transparent;
  }
  #interest .close{
    right:10px; top:10px;
    width:25px; height:25px;
  }


  /* basket */
  #basket{
    width:100%;
    height:100%;
    padding:30px 0;
    top:0; left:0;
    margin-left:0;
  }
  #basket>section>h4{
    font-size:24px;
    margin-bottom: 30px;
  }
  #basket>section>.basketTop{
    position: relative;
  }
  #basket>section>.basketTop>ul{
    justify-content: flex-start;
  }
  #basket>section>.basketTop>ul>li:first-child{
    width:100px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }
  #basket>section>.basketTop>ul>li:first-child::after{
    content: '전체선택';
    font-size:15px;
    color:#595959;
  }
  #basket>section>.basketMain{
    margin-bottom:30px;
  }
  #basket>section figure{
    padding: 20px 13.5px;
    border-bottom: 10px solid #DFDFDF;
    position: relative;
  }
  #basket>section figure>p{
    width:auto
  }
  #basket>section figure>img{
    width:30%; height:100%;
    margin: 0 13px;
  }
  #basket>section figure>figcaption{
    width:50%;
    margin:0 auto;
    box-sizing: border-box;
  }
  #basket>section figure>img{
    width:30%; height:100%;
    margin: 0 13px;
  }
  #basket>section figure>figcaption{
    width:50%;
    margin:0 auto;
    box-sizing: border-box;
  }
  #basket>section figure>figcaption>dl>dt{
    width:100%;
  }
  #basket>section figure>figcaption>dl>dd:nth-child(2){
    width:30%;
    position: absolute;
    bottom:70px; left:0;
    margin-left:40px;
  }
  #basket>section figure>figcaption>dl>dd:nth-child(3){
    width:auto;
    position: absolute;
    bottom:70px; right:0;
    margin-right:30px;
    border-bottom: 1px solid #dfdfdf;
  }
  #basket>section figure>.button{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:60px;
  }
  #basket>section figure>.button>p{
    width:50%;
  }
  #basket>section figure>.button>p:first-child{
    margin-bottom:0;
  }
  #basket>section figure>.button>p>button{
    width:85%;
  }
  #basket>section>.lastButton{
    width:100%;
  }
  #basket>section>.lastButton>p{
    width:100%;
    padding:0 13.5px;
  }
  #basket>section>.lastButton>p>button{
    font-size:21px;
    line-height: 50px;
  }
  #basket>section>.lastButton>p:first-child{
    width:fit-content;
    position:absolute;
    top:120px; right:0;
  }
  #basket>section>.lastButton>p:first-child>button{
    border-style: none;
    font-size:15px;
    line-height: 40px;
    color:#595959;
    background-color: transparent;
  }
  #basket .close{
    right:10px; top:10px;
    width:25px; height:25px;
  }
  #basket .allPrice{
    margin:0 13.5px 30px 0;
    font-size:21px;
  }
  #basket .allPrice>p{
    font-size:11px;
  }
  
}