@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

@media screen and (min-width:1210px){
    header>div,nav>div,article>div,article>section,footer>div{
        width:1200px;
    }
    nav>div>ul>li>div>ul{
        width:1200px;
    }
    #box03>section>div{
        width:1200px;
    }

  /*  */
}

/* 타블렛 */
@media screen and (max-width:989px) and (min-width:580px){
  header>div,nav>div,article>div,article>section,footer>div{
    width:90vw
  }
  /* header */
  header{
    position:relative;
  }
#headerWrap{
  height:0px;
}
header>div{
  display: block;
  text-align: center;
}
header>div>ul{
  display: none;
}
p.btn{
  width:30px; height:30px;
  position:absolute;
  top:50%; right:20px;
  margin-top:-15px;
}
p.btn>span{ /* 공통 */
  width:100%;
  height:3px;
  background-color: white;
  position:absolute;
}
p.btn>span:nth-child(1){
  top:0; left:0;
}
p.btn>span:nth-child(2){
  top:50%; left:0;
  margin-top: -1.5px;
}
p.btn>span:nth-child(3){
  bottom:0; left:0;
}

/* nav */
nav{
  width:350px; height:100%;
  position:fixed;
  right:-350px;  /* 숨기기 */
  /* right:0; */
  top:0;
  padding:0 40px;
  box-sizing: border-box;

}
nav>div{
  display: block;
}
li.hiddenWeb{
  display: block;
}
.hiddenTablet{
  display:none
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
  padding: 0 ;
  border-top:1px solid #dfdfdf;
  position: relative;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
nav .close{
  position: absolute;
  right:0; top:0;  /* 90px+20px */
  width:25px; height:25px;
  display: none; /* 숨기기 */
}
/* 회원정보 */
nav>div>ul>li>ul{
  text-indent: 15px;
}
nav>div>ul>li>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
/* 브랜드소개 */
nav>div>ul>li>div{
  display:block;
  position:none;
}
nav>div>ul>li>div>ul{
  text-indent: 15px;
  background-color: yellowgreen;
}
nav>div>ul>li>div>ul>li{
  clear: both;
}
nav>div>ul>li>div>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
nav>div>ul>li>div>ul>li>a>p{
  text-align: left
}
nav>div>ul>li>div>ul>li>a>img{
  display: none;
}
nav .close{
  top:20px; right:0;
}

/* main */
main{
  padding-top:104px;
}

/* box00 */
#box00{
  margin-bottom: 100px;
}
#box00>section{
  width:100%;
  height: calc(100vh - 104px);
}
#box00>section>div.logoBackground{
  width:70vw;
  padding:50px;
  margin: -225px 0 0 -35vw;
}


/* 공통 */
#box01, #box02, #box03, #box04{
  padding-top:0;
  padding-bottom:0;
}

/* box01 */
#box01{
  padding:50px 0 0 0;
}
#box01>section{
  width:100%;
}
#box01>section>div{
  padding:80px 0;
  background-size: cover;
}
#box01>section>div>div{
  width:80vw;
  margin:0 auto;
  padding:30px;
  background-color: rgba(255,255,255,0.7);
}
#box01>section>div>div>p{
  padding-left:0px;
}

/* box02 */
#box02{
  padding:50px 0 0 0;
  background-color: transparent;
}
#box02>section{
  width:100%;
}
#box02>section>div{
  padding:80px 0;
  background-size: cover;
}
#box02>section>div>div{
  width:80vw;
  margin:0 auto;
  padding:30px;
  background-color: rgba(255,255,255,0.7);
  text-align: left;
}
#box02>section>div>div>p{
  padding-left:0px;
}

/* box03 */
#box03{
  padding:50px 0 0 0;
}
#box03>section{
  width:100%;
}
#box03>section>div{
  padding:80px 0;
  background-size: cover;
}
#box03>section>div>div{
  width:80vw;
  margin:0 auto;
  padding:30px;
  background-color: rgba(255,255,255,0.7);
}
#box03>section>div>div>p{
  padding-left:0px;
}

/* box04 */
#box04{
  padding:50px 0 0 0;
  background-color: transparent;
}
#box04>section{
  width:100%;
}
#box04>section>div{
  padding:80px 0;
  background-size: cover;
}
#box04>section>div>div{
  width:80vw;
  margin:0 auto;
  padding:30px;
  background-color: rgba(255,255,255,0.7);
  text-align: left;
}
#box04>section>div>div>p{
  padding-left:0px;
}
/* view */
#view>section{
  padding: 0 0 100px 0;
}
#view>section>h4{
  color:#407A1D;
  margin-bottom: 63px;
}
#view>section>div{
  width:400%;
}
#view>section>div>figure{
  position: relative;
  width:6.578947368421053%;
}
#view>section>div>figure>img{
  margin-bottom: 15px;
}
#view>section>div>figure>figcaption>dl>dt{
  margin-bottom: 10px;
}
#view>section>div>figure>figcaption>dl>dd:nth-child(2){
  margin-bottom: 20px;
}

/* footer */
footer>div:nth-child(1){
  display: block;
}

  /* footer01 */
footer>div>section.footer01{
  text-align: center;
} 
footer>div>section.footer01>div{
  width:40vw;
  margin:0 auto;
}

  /* footer04 */
  footer>div>section.footer04{
    border-top:1px solid #86A894;
    background-color: #A9D1B9;
    text-align: center;
    font-size: 11px;
  }
  footer>div>section.footer04>dl{
    display: block;
    line-height: 20px;
  }
  footer>div>section.footer04>dl>dd{
    padding-right: 0px;
    border-style: none;
  }
  footer>div>section.footer04>dl:nth-child(3){
    margin-bottom: 25px;
  }
  footer>div>section.footer04>dl:nth-child(3)>dd{
    border-style:none
  }
  small{
    margin-bottom:25px;
  }
  footer>div>section.footer04>dl:last-child{

    display: flex;
    justify-content: space-between;
  }
  footer>div>section.footer04>dl:last-child>dd{
    border-style: none;
  }
  footer>div>section.footer04>dl:last-child>dd>a>img{
    width:4vw; height:4vw;
  }

.footer02, .footer03{
  display: none;
}

  /*  */
}

/* 모바일 */
@media screen and (max-width:579px) and (min-width:5px){
  header>div,nav>div,article>div,footer>div,article>section>div>div{
    width:96vw
  }
  #box02,#box03,#box04,#box05,#box06{
    padding-top: 10vw;
    margin-bottom: 10vw;
  }
  p.title{
    /* font-size:36px; */
  }
  /* header */
header{
  position: fixed;
}
#headerWrap{
  height:0px;
}
header>div{
  display: block;
  text-align: center;
}
h1 img{
  width: 130px; 
}
header>div>ul{
  display: none;
}
p.btn{
  width:20px; height:20px;
  position:absolute;
  top:50%; right:10px;
  margin-top:-10px;
}
p.btn>span{ /* 공통 */
  width:100%;
  height:2px;
  background-color: white;
  position:absolute;
}
p.btn>span:nth-child(1){
  top:0; left:0;
}
p.btn>span:nth-child(2){
  top:50%; left:0;
  margin-top: -1px;
}
p.btn>span:nth-child(3){
  bottom:0; left:0;
}

/* nav */
nav{
  width:100%; height:100%;
  position:fixed;
  right:-100%;  /* 숨기기 */
  /* right:0; */
  top:0;
  padding:0 40px;
  box-sizing: border-box;
}
nav>div{
  display: block;
}
li.hiddenWeb{
  display: block;
}
nav>div>ul{
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content:center;
}
nav>div>ul>li{
  padding: 0 ;
  border-top:1px solid #dfdfdf;
  position: relative;
}
nav>div>ul>li>a{
  color: #595959;
  line-height: 45px;
}
/* 회원정보,브랜드소개 */
nav>div>ul>li>ul{
  text-indent: 15px;
}
nav>div>ul>li>ul>li>a{
  line-height: 40px;
  color:#595959;
  font-size:15px;
}
nav>div>ul>li>ul>li{
  display: none; /* 숨기기 */
}


/* main */
main{
  padding-top:50px;
}

/* box00 */
#box00{
  margin-bottom: 50px;
}
#box00>section{
  width:100%;
  height: calc(100vh - 104px);
}
#box00>section>div.logoBackground{
  width:90vw;
  padding:40px;
  box-sizing: border-box;
  margin: -225px 0 0 -45vw;
}
#box00>section>div.logoBackground>h3{
  margin-bottom: 30px;
}
#box00>section>div.logoBackground>h3>a>img{
  width:100%;
}
#box00>section>div.logoBackground>p:nth-child(2){
  margin-bottom: 30px;
}
#box00>section>div.logoBackground>p.goHome{
  width:90%;
  line-height: 50px;
}


/* 공통 */
#box01, #box02, #box03, #box04{
  padding-top:0px;
  padding-bottom:30px;
}
article>section h2{
  font-size:27px;
  margin-bottom:0px;
  line-height: 30px;
}
article>section>div>div>h2>span{
  display: none;
}
h2:before{
  display: none;
}

  /* box01 */
  #box01>section>div{
    padding-left: 0%;
    background-position: left -100px;
    background-size: 100% ;
    padding-top:200px;
    position: relative;
  }
  #box01>section>div>div:before{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0; left:0;
    width:100%; height: 200px;
    content: '';
  }
  #box01>section>div>div{
    width:100%;
    background-color: #ffffff;
    box-sizing: border-box;
  }
  #box01>section>div>div>h2{
    position: absolute;
    top:100px; left:50%;
    margin:-15px 0 0 -150px;
    color:#ffffff
  }
  #box01>section>div>div>p{
    padding-left:0;
  }

  /* box02 */
  #box02{
    background-color:transparent;
  }
  #box02>section>div{
    padding-right: 0%;
    background-position:left -250px;
    background-size: 100% ;
    padding-top:200px;
    position: relative;
  }
  #box02>section>div>div:before{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0; left:0;
    width:100%; height: 200px;
    content: '';
  }
  #box02>section>div>div{
    width:100%;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: left;
  }
  #box02>section>div>div>h2{
    position: absolute;
    top:100px; left:50%;
    margin:-15px 0 0 -129px;
    color:#ffffff
  }
  #box02>section>div>div>p{
    padding-right:0;
  }

  /* box03 */
  #box03>section>div{
    padding-left: 0%;
    background-position: center -100px;
    background-size: contain ;
    padding-top:200px;
    position: relative;
  }
  #box03>section>div>div:before{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0; left:0;
    width:100%; height: 200px;
    content: '';
  }
  #box03>section>div>div{
    width:100%;
    background-color: #ffffff;
    box-sizing: border-box;
  }
  #box03>section>div>div>h2{
    position: absolute;
    top:100px; left:50%;
    margin:-15px 0 0 -150px;
    color:#ffffff
  }
  #box03>section>div>div>p{
    padding-left:0;
  }

  /* box04 */
  #box04{
    background-color:transparent;
  }
  #box04>section>div{
    padding-right: 0%;
    background-position:left -150px;
    background-size: 100% ;
    padding-top:200px;
    position: relative;
  }
  #box04>section>div>div:before{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0; left:0;
    width:100%; height: 200px;
    content: '';
  }
  #box04>section>div>div{
    width:100%;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: left;
  }
  #box04>section>div>div>h2{
    position: absolute;
    top:100px; left:50%;
    margin:-15px 0 0 -84.5px;
    color:#ffffff
  }
  #box04>section>div>div>p{
    padding-right:0;
  }

  


  /* view */
#view>section{
  padding-top:0;
  padding-bottom:30px;
  /* overflow: hidden; */
}
#view>section>h4{
  margin-bottom: 40px;
}
#view>section>div{
  width:1200%;
}
#view>section>div>figure{
  width:60vw;
}
#view>section>div>figure>figcaption>dl>dt{
  margin-bottom: 20px;
}

/* footer */
footer>div:nth-child(1){
  display: block;
}
footer>div:nth-child(1){
  padding: 25px 0;
}
  /* footer01 */
footer>div>section.footer01{
  text-align: center;
} 
footer>div>section.footer01>div{
  padding:15px 10px;
  width:80vw;
  margin:0 auto;
}

  /* footer04 */
  footer>div>section.footer04{
    padding:20px 0;
    border-top:1px solid #86A894;
    background-color: #A9D1B9;
    text-align: center;
    font-size: 11px;
  }
  footer>div>section.footer04>dl{
    display: block;
    line-height: 20px;
  }
  footer>div>section.footer04>dl>dd{
    padding-right: 0px;
    border-style: none;
  }
  footer>div>section.footer04>dl:nth-child(3){
    margin-bottom: 15 px;
  }
  footer>div>section.footer04>dl:nth-child(3)>dd{
    border-style:none
  }
  small{
    margin-bottom:15px;
  }
  footer>div>section.footer04>dl:last-child{
    display: flex;
    justify-content: space-between;
    width:25vw;
  }
  footer>div>section.footer04>dl:last-child>dd{
    border-style: none;
  }
  footer>div>section.footer04>dl:last-child>dd>a>img{
    width:6vw; height:6vw;
  }

.footer02, .footer03{
  display: none;
}

/* aside */
aside>p{
  bottom:8px; right:8px;
}
aside>p>a{
  width:35px; height:35px;
  font-size:18px
}

/* modal */
  /* login */
  #login{
    width:100vw; height:100vh;
    top:0; left:0;
    margin: 0;
    padding:40px;
  }
  #login>section>h4{
    margin-bottom: 70px;
  }
  #login>section>ul>li>input{
    width:100%;
    font-size: 18px;
  }
  #login>section>p>button{
    line-height: 50px;
    font-size:18px;
  }
  #login>section>ul.login02>li{
    display: block;
    font-size:15px;
  }
  #login>section>ul.login02>li:nth-child(1){
    border-right:none;
    padding-right: 0px;
  }
  #login>section>ul.login02>li:nth-child(2){
    padding-left:0px ;
  }
  #login .close{
    right:10px; top:10px;
    width:30px; height:30px;
  }

  /* join */
  #join{
    width:100vw; height:100%;
    top:0; left:0;
    margin: 0;
    padding:40px;
  }
      /* 공통 */
  #join>section>ul>li>span{font-size:15px;}
  #join>section>ul>li>input:not([type="checkbox"]){
    padding:5px;
    margin-right: 0;
  }
  #join>section>ul>li:nth-child(4)>input{
    width:60%;
    margin-bottom: 10px;
  }
  #join select{
    width:60%;
  }
  #join>section>ul>li:nth-child(5)>input{
    margin:0 0 10px 0;
  }
  #join>section>ul>li:nth-child(5)>button{
    width:100px;
    display: block;
  }
  #join>section>ul>li>select{
    height:30px;
  }
  #join>section>p>button{
    font-size:18px;
  }
  #join>section>ul>li>label[for="userCheck02"]{
    font-size:15px;
  }
  #join .close{
    right:10px; top:10px;
    width:30px; height:30px;
  }

  /*  */
}